<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script src="/js/login.js"></script>
</head>
<body >
<!--<div class="main">-->
<!--  &lt;!&ndash;头部&ndash;&gt;-->
<!--  <div class="header">-->
<!--    <div class="head-nav">-->
<!--      <div class="head-nav-con clearFloat">-->
<!--        <ul>-->
<!--          <li><a href="#">首页</a></li>-->
<!--          <li><a href="#">一级菜单</a></li>-->
<!--          <li class="drop-down"><a href="#">二级菜单</a>-->
<!--            <ul class="drop-down-content">-->
<!--              <li><a href="#">二级菜单</a></li>-->
<!--              <li><a href="#">二级菜单</a></li>-->
<!--              <li><a href="#">二级菜单</a></li>-->
<!--              <li><a href="#">二级菜单</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="drop-down"><a href="#">二级菜单</a>-->
<!--            <ul class="drop-down-content">-->
<!--              <li class="drop-down-2"><a href="#">三级菜单</a>-->
<!--                <ul class="drop-down-content-2">-->
<!--                  <li><a href="#">三级菜单</a></li>-->
<!--                  <li><a href="#">三级菜单</a></li>-->
<!--                  <li><a href="#">三级菜单</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="drop-down-2"><a href="#">三级菜单</a>-->
<!--                <ul class="drop-down-content-2">-->
<!--                  <li><a href="#">三级菜单</a></li>-->
<!--                  <li><a href="#">三级菜单</a></li>-->
<!--                  <li><a href="#">三级菜单</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class=""><a href="#">二级菜单</a></li>-->
<!--              <li class=""><a href="#">二级菜单</a></li>-->
<!--              <li class=""><a href="#">二级菜单</a></li>-->
<!--              <li class=""><a href="#">二级菜单</a></li>-->
<!--              <li class="drop-down-2"><a href="#">三级菜单</a>-->
<!--                <ul class="drop-down-content-2">-->
<!--                  <li><a href="#">二级菜单</a></li>-->
<!--                  <li><a href="#">二级菜单</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li><a href="#">一级菜单</a></li>-->
<!--          <li><a href="#">一级菜单</a></li>-->
<!--          <li><a href="#">一级菜单</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<section >
  <div style=" margin-left:-280px;margin-top:-600px;margin-right:200px;font-size: 70px;color:rgb(255,255,255);font-weight: bold;letter-spacing: 2px">
    Sale
    <div style="margin-left:5px;margin-top:-6px;font-size: 11px;color:rgb(255,255,255);letter-spacing: 6px">
      芝士中古店管理网站
    </div>
  </div>
  <!-- 轮播图 -->
  <div class="box">
    <div class="container">
      <img id="pic0" src="/image/p1.jpg" alt="">
      <script>
        let index = 0;
        let pic = document.getElementById("pic"+index);
        setInterval(function(){
          pic.setAttribute("hidden","true");

          pic = document.getElementById("pic"+index);
          pic.removeAttribute("hidden");
          if (index === 4) {
            index = 0;
          }
        },3000);
      </script>
    </div>
  </div>

  <!-- 登录框 -->
  <div class="box">
    <div class="container">
      <!-- 销售界面 -->
      <div id="id1"  class="form">
        <h2 onclick="f1()">销售登录&nbsp;</h2>
        <h2 onclick="f2()">仓管登录&nbsp;</h2>
        <h2 onclick="f5()">经理登录</h2>

        <div class="inputBox">
          <label>
            <input type="text" id="username" name="username" placeholder="销售用户名" autocomplete="off" maxlength="20">
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="text" id="adminname" name="adminname" autocomplete="off" placeholder="仓管用户名" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="text" id="managername" name="managername" autocomplete="off" placeholder="经理用户名" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="password" id="code" name="code" autocomplete="off" placeholder="密码" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="password" id="password" name="password" autocomplete="off" placeholder="密码" maxlength="20">
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="password" id="newPassword" name="newPassword" autocomplete="off" placeholder="手机号" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="password" id="npassword" name="npassword" autocomplete="off" placeholder="新密码" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="password" id="mpassword" name="mpassword" autocomplete="off" placeholder="密码" maxlength="20" hidden>
          </label>
        </div>

        <div class="inputBox" style="text-align:center">
          <input id="login" type="submit" value="登录" name="login" onclick="checkLogin();">
          <input id="login2" type="submit" value="登录" name="login2" onclick="checkLogin2();" hidden>
          <input id="login3" type="submit" value="登录" name="login3" onclick="checkLogin3();" hidden>
          <input id="goto" type="submit" value="切换顾客" name="goto" onclick="gotocus();">
          <input id="register" type="submit" value="注册用户" name="register" onclick="checkReg();" hidden>
          <input id="modify" type="submit" value="修改密码" name="modify" onclick="checkMod();" hidden>
        </div>

        <p class="forget"><a href="javascript:void(0)" onclick="f3()">注册账号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="javascript:void(0)" onclick="f4()">修改密码</a>
        </p>
      </div>

      <!-- 顾客界面 -->
      <div id="id2" class="form" hidden="hidden">
        <h2 onclick="f6()">顾客登录</h2>

        <div class="inputBox">
          <label>
            <input type="text" id="cusname" name="cusname" autocomplete="off" placeholder="顾客用户名" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="password" id="cuspass" name="cuspass" autocomplete="off" placeholder="密码" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="text" id="cusid" name="cusid" autocomplete="off" placeholder="顾客姓名" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="text" id="cusphone" name="cusphone" autocomplete="off" placeholder="手机号" maxlength="20" hidden>
          </label>
        </div>
        <div class="inputBox">
          <label>
            <input type="password" id="cusnewpass" name="cusnewpass" autocomplete="off" placeholder="新密码" maxlength="20" hidden>
          </label>
        </div>

        <div class="inputBox" style="text-align:center">
          <input id="login4" type="submit" value="登录" name="login4" onclick="checkLogin4();" >
          <input id="goto2" type="submit" value="切换员工" name="goto2" onclick="gotosale();" >
          <input id="register2" type="submit" value="注册用户" name="register2" onclick="checkReg2();" hidden>
          <input id="modify2" type="submit" value="修改密码" name="modify2" onclick="checkMod2();" hidden>
        </div>

        <p class="forget"><a href="javascript:void(0)" onclick="f7()">注册账号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="javascript:void(0)" onclick="f8()">修改密码</a>
        </p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
</script>
</body>
</html>
